@using GameStore.Domain.Entities
@using GameStore.WebUI.Models
@model GamesListViewModel

@{
    ViewBag.Title = "Товары";
}


@foreach (var p in @Model.Games)
{
    @Html.Partial("GameSummary", p)
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>


